/* Basic Things to Do First */
@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Techno Race Italic";
  src: url("fonts/technoraceitalic.woff") format("woff"),
       url("fonts/technoraceitalic.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100%;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(#201F2F, #141e30);
	color: white;
}

header {
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

#blogPage {
    overflow-x: hidden;
}

main {
    margin: 14px;
}

.username {
    margin-bottom: 21px;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) skewX(15deg);
    font-family: "Techno Race Italic";
}

.spiderWebFlat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    padding-right: 180px;
}

/* Navigation Menu Decoration */
.nav-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    background-color: brown;

    /* Add a box shadow to create a 3D effect */
    box-shadow: inset 0 -3px white;

    /* Add a transition effect for the box shadow */
    transition: box-shadow 0.3s ease-in-out;
}

/* Change the box shadow on hover to create a push effect */
.nav-menu a:hover {
    box-shadow: inset 0 -3px brown;
    color: black;
    transition: 0.3 ease-in-out;
}

/* Add some shapes and icons before the link text using pseudo-elements */
.nav-menu a:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;

    /* Position the pseudo-element relative to the link */
    position: relative;

    /* Move it to the left of the link */
    margin-left: -20px;

    /* Hide it by default */
    opacity: 0;

    /* Add a transition effect for the opacity and margin */
    transition: opacity 0.3s ease-in-out, margin-left 0.3s ease-in-out;
}

/* Change the opacity and margin on hover to make the pseudo-element visible */
.nav-menu a:hover:before {
    opacity: 1;
    margin-right: 1px;
}

.social-links {
    justify-content: space-between;
    display: inline-flex;
}

.social-links ul {
    list-style: none;
    padding: 4px 0 0 0;
    text-decoration: none;
    margin: 0 0 0 4px;
    background-color: brown;
}

.social-links ul li {
    padding: 4px;
}

.social-links ul li a img:hover {
    transform: scale(1.2); /* Scales the icon up when hovered over */
}

.social-links ul li a img {
    width: 35px;
    height: 25px;
    transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
}

footer {
    text-align: center;
    margin-top: 40px;
    clear: left;
}

/* index.html */

.frontBanner {
    background-image: url('media/abstract-art.jpg');
    background-size: cover; /* cover image */
    background-repeat: no-repeat; /* to prevent repeating the image */
    padding-top: 150px;
    text-align: center;
    height: 40vh;
}

.overlay-shape {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 73vh;
    margin-top: 50px;
    background-color: rgb(48 32 32 / 50%);
    background-size: cover;
}

.overlay-heading-desktop {
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    text-align: center;
    padding-top: 24px;
    white-space: nowrap;
}

.overlay-heading-mobile {
    display: none;
}

.underBannerText, .contributeText {
    padding: 30px 0 40px 0;
    text-align: center;
    text-transform: uppercase;
}

.projects-container {
    display: flex;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.projects-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Edge, Chrome, Safari and Opera */
}

.bothArrowButtons {
    position: absolute;
    background-color: brown;
    border: 3px solid white;
    top: 91%;
    transition: all 0.25s ease-in-out;
}

.bothArrowButtons:hover {
    transition: all 0.25s ease-in-out;
    border: 3px solid black;
}

.bothArrowButtons:active {
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    outline: 1px solid black;

    .arrow {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    }
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: inset 0 0 39px 0px rgba(0, 0, 0, 0.5);
  }
}

#arrowLeftButton {
    left: 1%;
    padding: 10px 6px 7px 11px;
}

#arrowRightButton {
    right: 1%;
    padding: 10px 11px 7px 6px;
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
}

#arrow-left {
    transform: rotate(135deg);
}

#arrow-right {
    transform: rotate(-45deg);
}

.projects-items {
    display: flex;
    flex-direction: column;
    margin: 15px 12vh 10px 12vh; /* adjust as needed */
}

.firstItem {
    margin-left: 7vh;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tags {
    display: inline-flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
    color: grey;
    width: 120%;
}

.otherTags, .first-tag {
    border: solid 1px;
    padding: 5px;
}

.projects-items a {
    text-decoration: none;
}

.projects-items-heading {
    color: orange;
    text-decoration: none;
    padding-top: 3px;
}

.projects-items-heading:hover {
    color: black; /* New color on hover */
    transition: color 0.3s;
}

.projects-items-text {
    padding-top: 5px;
    font-size: 20px;
    width: 120%;
}

.projects-items img, .blogItems img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* This will prevent distortion */
}

.contributeTable {
    align-items: center;
    text-align: center;
    width: 100%; /* Full-width table */
    border-collapse: collapse; /* Collapse borders */
    border: 1px solid;
}

.contributeTable th {
    background-color: black;
    color: white;
    padding: 15px;
    border: 1px solid;
}

.contributeTable td {
    padding: 12px;
}

.contributeTable td:nth-child(1), .contributeTable td:nth-child(3) {
    background-color: black;
    padding: 12px;
}

.contributeTable td:nth-child(1) {
    border-right: 1px solid;
}

.contributeTable td:nth-child(3) {
    border-left: 1px solid;
}

.contributeTable td a {
    text-decoration: none;
    color: orange;
}

.contributeTable td a:hover {
    color: #0056b3;
}

.contributeTable tr:hover {
    background-color: black; /* Add a hover effect to rows */
}

/* about-me.html */

#aboutMeBody {
    height: 100vh;
    scrollbar-height: none; /* Hide scrollbar for Firefox */
    overflow: hidden;
}

#aboutMeBody::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Edge Chrome, Safari and Opera */
}

#aboutMeMain {
    display: flex;
}

.svg-container {
    background-color: #ef476f;
    width: 30%;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container h2 {
    text-align: center;
}

#hi-hand {
    animation: hi 1.5s linear -0.5s infinite;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes hi {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.svg-container {
  background-size: 200% 200%;
  background-image: linear-gradient(
    45deg,
    #ef476f,
    #ffd166,
    #06d6a0,
    #118ab2,
    #ef476f
  );

  animation: gradient 5s ease infinite;
}

.aboutContent {
    width: 69%;
    margin-left: 20px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto;   /* Show vertical scrollbar if needed */
    height: 72vh;
}

#skillsAndTools {
    display: flex;
    flex-direction: column;
}

#skillsAndToolsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#skillsAndTools img {
    margin: 15px;
    width: 65px;
}

.listTooltip {
    position: relative;
    display: inline-block;
}

.listTooltip .listTooltipText {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1009;
    top: 50%; /* Place the tooltip text above the tooltip */
    left: 50%;
    margin-left: -30px; /* Use half of the width to center the tooltip text */

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.listTooltip:hover .listTooltipText {
    visibility: visible;
    opacity: 1;
}

#javascriptText {
    margin-left: -45px;
}

#htmlText {
    margin-left: -27px;
}

#cssText {
    margin-left: -20px;
}

#pycharmText {
    margin-left: -39px;
}

#windows11Text {
    margin-left: -50px;
}

#edgeText {
    margin-left: -23px;
}

/* blog.html */

.blogBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    color: #ffffff;
    padding: 10px 20px;
}

#blogText {
    font-size: 95px;
    margin: 0;
    text-transform: uppercase;
}

.blogLinesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.blogLinesContainer div {
    width: 98%;
    height: 5px;
    background-color: #ffffff; /* White */
    margin: 9px;
    padding: 5px;
}

.blogContainer {
    display: flex;
    flex-direction: column;
}

.blogItems {
    display: flex;
    margin: 15px 20px 10px 5px;
}

.blogItemsTags {
    justify-content: unset;
}

.blogTextContainer {
    margin: 15px 0 0 25px;
}

.blogItemsHeading {
    color: orange;
    text-decoration: none;
}

.blogPostDate {
    position: relative;
    top: 10px;
    color: orange;
    font-size: 18px;
}

.blogItemsText {
    font-size: 20px;
    padding: 5px 0 10px 0;
}

.readArticle {
    color: white;
    background-color: brown;
    text-decoration: none;
    padding: 8px;
    box-shadow: inset 0 0 0 0 black;
    transition: color .8s ease-in-out, box-shadow .3s ease-in-out;
}

.readArticle:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 black;
}

/* Nested Pages */

#goBack {
    background-color: brown;
    padding: 5px;
}

#goBackText {
    color: white;
    font-size: 20px;
}

/* venn-diagram-blog.html */

#venn-diagram-content {
    font-size: 18px;
}

.vennDiagramImgs {
    width: 40%;
    margin-right: 15px;
}

#vennDiagramImg1 {
    width: 34.15%;
}

#vennDiagramImg3 {
    float: left;
    margin-right: 5vh;
}

#intersections {
    padding-top: 15px;
}

#conclusion {
    padding-top: 5px;
}

/* video-games.html */

#video-games-content img {
    width: 30%;
    background: cover;
    margin-right: 15px;
}

#trueCrimeGameStory {
    padding-top: 5px;
}

#trueCrimeGameImg {
    float: left;
}

#farCryImg {
    float: right;
}

#csSourceImg, #csGoImg {
    float: left;
}

#mobileGamesImg {
    float: right;
}

#csSourceMobileHeading {
    display: none;
}

/* Decorations for Mobile Version */

@media only screen and (max-width: 800px) and (prefers-color-scheme: dark) {
    /* Styles for typical tablets and mobiles screens */

    .username {
        text-align: center;
        z-index: 1003;
        display: flex;
    }

    .spiderWebFlat {
        position: absolute;
        right: 0;
        left: 90%;
        padding-right: 0;
        z-index: 1004;
    }

    .overlay-shape {
        height: 73vh;
    }

    .overlay-heading-desktop {
        display: none;
    }

    .overlay-heading-mobile {
        display: inline-block;
        position: relative;
        top: 45%;
        background-color: brown;
        width: 90%;
    }

    /* burger menu */
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0;
        position: relative;
        z-index: 1002;
    }

    .line {
        width: 40px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        transform-origin: center;
    }

    /* Initial state of the lines */
    .burger-menu .line:nth-child(1) {
        top: 0px;
    }

    .burger-menu .line:nth-child(2) {
        top: 13px;
        opacity: 1;
    }

    .burger-menu .line:nth-child(3) {
        bottom: 0px;
    }

    /* State of the lines when the menu is open */
    .burger-menu.open .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .burger-menu.open .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .line:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    /* nav-menu for mobile view */
    .nav-menu {
        display: none; /* Hide the mobile menu by default */
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 21vh; /* Adjust the width of the menu as needed */
        height: 100vh;
        padding-top: 70px; /* Adjust the padding to avoid overlapping with the header */
        padding-left: 20px;
        z-index: 1000; /* Increase if necessary */
    }

    .nav-menu ul {
        display: inline-block;
        list-style: none;
        flex-direction: column;
        padding: 0;
        margin-top: 40px;
    }

    .nav-menu ul li {
        margin-bottom: 20px;
        flex-direction: column;
        display: block;
    }

    .nav-menu a {
        display: block;
        padding: 10px 16.5px;
        margin-left: 6px;
        background-color: brown;
        color: white;
        border: none; /* No border */
        cursor: pointer; /* Cursor style */
    }

    .social-links {
        display: none; /* Hide the social links by default */
        position: absolute;
        top: 70vh; /* Adjust if necessary */
        left: 0;
        width: 20vh; /* Adjust the width of the menu as needed */
        padding-left: 23px;
        z-index: 1001; /* Increase if necessary */
    }

    .social-links ul {
        display: inline-flex;
        margin-bottom: 9px;
        width: max-content;
    }

    .social-links ul li {
        padding: 5px;
    }

    .bothArrowButtons {
        display: none;
    }

    #aboutMeBody {
        overflow: auto;
        height: unset;
    }

    #aboutMeMain {
        flex-direction: column;
    }

    .svg-container {
        width: 100%;
        height: 300px;
    }

    .aboutContent {
        width: 100%;
        height: unset;
        margin: unset;
        overflow: hidden;
    }

    #blogPage {
        overflow-x: hidden;
    }

    #blogText {
        font-size: 80px;
    }

    .blogBanner {
        padding: 10px 40px 9px 18px;
    }

    .projects-container, .blogContainer {
        flex-direction: column;
    }

    #vennDiagramHead, #videoGamesHeading {
        text-align: center;
        font-size: 25px;
    }

    .vennDiagramImgs, #vennDiagramImg1, video-games-content img {
        width: 100%;
    }

    #intersections {
        clear: left;
    }

    #video-games-content img {
        width: 100%;
        float: unset;
    }

    #csSourceMobileHeading {
        display: block;
    }

    #csSourceDesktopHeading {
        display: none;
    }

    .projects-items, .blogItems {
        text-align: center;
        align-items: center;
        margin: unset;
        flex-direction: column;
    }

    .project-items {
        margin-bottom: 20px;
    }

    .blogItems {
        padding: 40px 0 20px 0;
    }

    .projects-items img, .blogItems img {
        max-width: 100%;
        height: unset; /* Maintain the aspect ratio of the image */
    }

    .projects-items img {
        margin-bottom: 10px; /* Add some space between the image and the text */
    }

    .projects-items-heading {
        padding-top: unset;
    }

    .projects-items-text {
        font-size: 18px;
        margin-bottom: 40px;
        width: unset;
    }

    .text-container, .blogTextContainer {
        margin-left: 0;
    }

    .tags {
        width: 100%;
    }

    .blogItemsTags {
        display: unset;
    }

    .blogItemsText {
        font-size: 18px;
    }

    #skillsAndTools {
        margin-bottom: 15px;
    }

    #skillsAndTools img {
        width: 35px;
    }

    #windows11Text {
        margin-left: -38px;
    }

    .show {
        display: block !important;
    }
}
