.venndg {
    font-size: 24px;
}

.busycaldr {
    font-size: 24px;
}

.progexcs {
    font-size: 24px;
}

/* Basic */
@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");

body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	background: linear-gradient(#141e30, #243b55);
	color: white;
}

body li a {
    color: white;
    transition: color 0.3s;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0056b3;
}

p a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: #0056b3;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    color: #0056b3;

}

nav {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: left;
}

/* Remove bullet points from the list */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Display list items horizontally */
nav ul li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between links if needed */
}

/* Style the links */
nav ul li a {
    text-decoration: none;
    color: white; /* Link color */
    font-weight: bold; /* Optional: Make the text bold */
}

/* Change link color on hover */
nav ul li a:hover {
    color: #0056b3; /* New color on hover */
    transition: color 0.3s;
}
