@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#businessCalMain {
    font-family: "Montserrat";
    box-shadow: 0px 0px 0px 2px #e66053, 10px 10px 20px 10px rgba(78, 79, 74, 0.5);
    border: 2px solid #e66053;
}

.calendar {
    display: table;
    width: 100%;
    background-size: cover;
    border: none;
}

.overlay-shape {
    width: 100%;
    height: 150%;
    background-color: rgb(48 32 32 / 50%);
}

.JulyMonth {
    display: none;
}

.bothArrowButtons {
    top: 38%;
}

#arrowRightButton {
    right: 2%;
}

#arrowLeftButton {
    left: 2%;
}

.calendarMonthBanner {
    border: 2px solid #e66053;
    margin: 2px;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    background-color: #F6E9DC;
}

.calendarMonthBanner h1 {
    background-color: #4E4F4A;
    color: #F6E9DC;
    font-size: 3rem;
    letter-spacing: 0.1em;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
}

.calendarMonthBanner img {
    width: 60%;
}

.calendarDayHeader {
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
}

.calendarDayCell {
    font-size: 4rem;
    position: relative;
}

.calendarDayHeader, .calendarDayCell {
    border: 2px solid #e66053;
    text-align: center;
    width: 14.2857142857%;
    vertical-align: middle;
}

.calendarDayHeader, .calendarDayCell {
    padding: 0.75rem 0 1.5rem;
}

.calendarDayCell {
    position: relative;
    padding: 10vh;
}

.fontClass {
    font-size: 2rem;
}

.day {
    position: absolute;
    left: 10px;
    top: 5px;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.growing-number {
    position: absolute;
    right: 3px;
    bottom: 0;
    font-size: 1.6rem;
}

@media only screen and (max-width: 800px) and (prefers-color-scheme: dark) {


}
