@charset "UTF-8";
/* First things first */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap");
@font-face {
  font-family: "Techno Race Italic";
  src: url("/src/fonts/technoraceitalic.woff") format("woff"), url("/src/fonts/technoraceitalic.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

:root {
  --royal-blue: #3F52E3;
  --light-gray: #fcfcfc;
  --light-lemon-yellow: #EFE891;
  --red-salsa: #F12D2D;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "Montserrat";
  color: var(--royal-blue);
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: black;
}

section {
  padding: 0 14px;
}

.containers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-transform: uppercase;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
/* Details, Summary Tag Styling */
details > summary {
  list-style-type: none;
}

/* For Chrome, Safari and Edge */
details > summary::-webkit-details-marker {
  display: none;
}

/* For Firefox */
details > summary::marker {
  display: none;
}

/* Marquee Effect */
.marqueeEffect {
  display: flex;
  overflow: hidden;
  background-color: yellow;
  z-index: 2;
  width: 100%;
  /* Marquee Animation */
}
.marqueeEffect li {
  padding: 2vh;
  flex-shrink: 0;
  animation: marquee 10s infinite linear;
  color: black;
}
.marqueeEffect li::before {
  content: "•";
  position: absolute;
  left: -0.8vh;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Scroll to Top Button */
#topBtn {
  z-index: 10;
  cursor: pointer;
  transition: 0.32s ease-in-out;
}
#topBtn:hover {
  color: var(--light-lemon-yellow);
}

header {
  color: white;
  background-color: black !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  padding: 3.5vh;
  top: 0;
  z-index: 2500;
  transition: 0.1s ease-in-out;
  font-family: "Cinzel Decorative";
  /* Navigation Menu Decoration */
}
header .username {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding: 15px 0;
  font-family: "Raleway";
  font-weight: bold;
  position: absolute;
}
header .username:hover {
  transition: transform 0.3s ease-in-out;
  color: var(--light-lemon-yellow);
}
header .username img {
  margin-top: 1vh;
  width: 200px;
}
header .nav-menu {
  font-weight: 500;
}
header .nav-menu ul li {
  display: inline-block;
  margin-left: 15px;
}
header .nav-menu ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: large;
}
header .nav-menu ul li a:hover {
  color: black;
  transition: transform 0.3s ease-in-out;
  background-color: var(--light-lemon-yellow);
}
header .nav-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-15%);
}
header .nav-menu ul li a:hover::before {
  width: 100%;
  left: 0;
}
header .nav-menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transition: width 0.3s ease, right 0.3s ease;
  transform: translateX(15%);
}
header .nav-menu ul li a:hover::after {
  width: 100%;
  right: 0;
}
header .profile-picture__header {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
header .profile-picture__header:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background-color: var(--light-lemon-yellow);
}

main {
  /* General Contact Section */
}
main #home {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0;
}
main #home #homeText {
  position: absolute;
  top: 25%;
  z-index: 1;
}
main #home #homeText h1 {
  font-size: 85px;
  font-family: "Raleway";
}
main #home #homeText p {
  font-size: 26px;
}
main #about {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
main #about h2 {
  margin-bottom: 0;
}
main #about #aboutMeContent {
  display: flex;
  align-items: center;
  gap: 15px;
}
main #about #aboutMeContent p {
  font-size: 21px;
  width: 100%;
}
main #about #aboutMeContent img {
  width: 20%;
}
main #brands .services-container {
  display: flex;
  gap: 20px; /* Adjust the gap between service items */
  padding: 20px; /* Add padding around the container */
}
main #brands .services-container .services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9; /* Background color for service items */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease-in-out;
}
main #brands .services-container .services-item:hover {
  transform: scale(1.05); /* Scale up the item on hover */
}
main #brands .services-container .services-item img {
  width: 100px; /* Set a fixed width for service icons */
  height: 100px; /* Set a fixed height for service icons */
  -o-object-fit: contain;
     object-fit: contain; /* Ensure the image fits within the specified dimensions */
  margin-bottom: 15px; /* Add space between the icon and the text */
}
main #brands .services-container .services-item h3 {
  font-size: 20px;
  margin-bottom: 10px; /* Add space between the heading and the paragraph */
  color: black;
}
main #brands .services-container .services-item p {
  font-size: 16px;
  color: black; /* Set a color for the paragraph text */
}
main #brands .services-container .services-item .platforms .platforms-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adjust the gap between platform items */
  padding: 20px; /* Add padding around the gallery */
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item img {
  width: 80px; /* Set a fixed width for all platform icons */
  height: 80px; /* Set a fixed height for all platform icons */
  -o-object-fit: contain;
     object-fit: contain; /* Ensure the image fits within the specified dimensions */
  transition: transform 0.3s ease-in-out;
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item img:hover {
  transform: scale(1.1); /* Scale up the icon on hover */
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item .tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  bottom: 100%; /* Position the tooltip above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item .tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow pointing down */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
main #brands .services-container .services-item .platforms .platforms-gallery .platform-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
main #portfolio {
  position: relative;
}
main #portfolio .swiper-container {
  width: 100%;
  height: 100%;
}
main #portfolio .swiper-container .swiper-wrapper {
  display: flex;
  gap: 10px; /* Add gap between videos */
}
main #portfolio .swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Adjust width to fit content */
}
main #portfolio .swiper-container .swiper-button-next,
main #portfolio .swiper-container .swiper-button-prev {
  color: #fff;
  position: absolute;
  top: 10%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
main #portfolio .swiper-container .swiper-button-next:hover,
main #portfolio .swiper-container .swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
main #portfolio .swiper-container .swiper-button-next {
  right: 10px; /* Position next button on the right */
}
main #portfolio .swiper-container .swiper-button-prev {
  left: 10px; /* Position prev button on the left */
}
main #portfolio .codingStuff {
  display: flex;
  flex-direction: column;
}
main #portfolio .codingStuff h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #AEB7F4;
  margin-bottom: 4vh;
}
main #portfolio .codingStuff .codingProjectsContainer {
  display: flex;
  flex-direction: column;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  flex-wrap: wrap;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  width: 30%;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item .projects-item__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item .projects-item__text a {
  color: white;
  transition: color 0.3s;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item .projects-item__text a h4 {
  font-size: 20px;
}
main #portfolio .codingStuff .codingProjectsContainer .projects-container .projects-item .projects-item__text a:hover {
  color: orange;
}
main #portfolio .codingStuff .mini-projects {
  display: flex;
  flex-direction: column;
}
main #portfolio .codingStuff .mini-projects h3 {
  margin: 4vh 0;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items {
  display: flex;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item img {
  width: 55vh;
  height: 55vh;
  -o-object-fit: contain;
     object-fit: contain;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text h4 {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 22px;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text h4:hover {
  color: var(--light-lemon-yellow) !important;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text a h4 {
  color: white;
  transition: 0.3s ease-in-out;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text a h4:hover {
  color: var(--light-lemon-yellow);
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-items__links {
  list-style: none;
  padding: 2vh 2vh 0;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-items__links a {
  color: white;
  margin: 5px;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-items__heading:hover,
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-items__links a:hover {
  color: var(--light-lemon-yellow);
  transition: color 0.3s;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-item__tags {
  padding: 3vh 0 3vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vh;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text .mini-projects-item__tags span {
  border: solid 1px white;
  padding: 1vh;
}
main #portfolio .codingStuff .mini-projects .mini-projects-items .mini-projects-item .mini-projects-item__text p {
  width: 85%;
}
main #portfolio .codingStuff .contributions h3 {
  margin: 4vh 0;
}
main #portfolio .codingStuff .contributions .contributeTable {
  width: 100%;
  border: 1px solid;
}
main #portfolio .codingStuff .contributions .contributeTable th {
  color: white;
  padding: 15px;
  text-align: left;
  padding-left: 2vh;
}
main #portfolio .codingStuff .contributions .contributeTable th:nth-child(3) {
  padding-left: 1.85vh;
}
main #portfolio .codingStuff .contributions .contributeTable td {
  padding: 13px;
}
main #portfolio .codingStuff .contributions .contributeTable td a {
  color: orange;
  transition: 0.25s ease-in-out;
}
main #portfolio .codingStuff .contributions .contributeTable td a:hover {
  color: var(--royal-blue);
}
main #blog .blogContainer {
  display: flex;
  flex-direction: column;
  background-color: black;
}
main #blog .blogContainer .blogItems {
  display: flex;
  margin: 15px 20px 10px 5px;
}
main #blog .blogContainer .blogItems img {
  width: 25%;
}
main #blog .blogContainer .blogItems .blogTextContainer {
  width: 100%;
  height: 100%;
  padding: 25px;
  line-height: 45px;
}
main #blog .blogContainer .blogItems .blogTextContainer .blogItemsHeading {
  color: orange;
  font-size: 28px;
}
main #blog .blogContainer .blogItems .blogTextContainer .blogItemsTags {
  margin: 5px 0;
}
main #blog .blogContainer .blogItems .blogTextContainer .blogItemsTags .first-tag,
main #blog .blogContainer .blogItems .blogTextContainer .blogItemsTags .otherTags {
  border: solid 1px white;
  padding: 1vh;
}
main #blog .blogContainer .blogItems .blogTextContainer .blogPostDate {
  position: relative;
  top: 10px;
  color: orange;
  font-size: 18px;
}
main #blog .blogContainer .blogItems .blogTextContainer .blogItemsText {
  font-size: 20px;
  margin: 5px 0;
  line-height: 6vh;
}
main #blog .blogContainer .blogItems .blogTextContainer .readArticle {
  color: var(--royal-blue);
  background-color: var(--light-gray);
  padding: 8px;
  transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
main #blog .blogContainer .blogItems .blogTextContainer .readArticle:hover {
  color: var(--light-gray);
  box-shadow: inset 200px 0 0 0 var(--royal-blue);
}
main #contact .contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}
main #contact .contactContainer .contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
main #contact .contactContainer .contact-form .formGroups {
  display: flex;
  gap: 10px;
}
main #contact .contactContainer .contact-form .form-group {
  width: 100%;
}
main #contact .contactContainer .contact-form .form-group input,
main #contact .contactContainer .contact-form .form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}
main #contact .contactContainer .contact-form .form-group input:focus,
main #contact .contactContainer .contact-form .form-group textarea:focus {
  border-color: #333;
  outline: none;
}
main #contact .contactContainer .contact-form .submit-btn {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
main #contact .contactContainer .contact-form .submit-btn:hover {
  background-color: #555;
}
main #contact .contactContainer .contact-form .privacy-note {
  font-size: 19px;
  color: #666;
  text-align: center;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  padding: 2vh;
  background-color: black;
  color: white;
  z-index: 15000;
}
footer div {
  padding-top: 2vh;
}
footer .social-links {
  display: flex;
  gap: 1vh;
  list-style: none;
  margin-top: 0.7vh;
}
footer .social-links li a {
  text-decoration: none;
}
footer .social-links li a img {
  padding: 5px 5px 3px;
  width: 45px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
  /* Adds a smooth transition effect */
}
footer .social-links li a img:hover {
  transform: scale(1.2);
  /* Scales the icon up when hovered over */
}

@media only screen and (max-width: 1252px) and (prefers-color-scheme: dark) {
  #about {
    flex-direction: column;
    height: unset;
  }
  #aboutMeContent {
    flex-direction: column;
    width: 100%;
  }
  #aboutMeContent img {
    max-width: 100%;
    margin: 2vh 0;
  }
}
@media only screen and (max-width: 1120px) and (prefers-color-scheme: dark) {
  #homeText {
    top: 30% !important;
  }
  #homeText h1 {
    font-size: 60px !important;
  }
  #homeText p {
    font-size: 24px !important;
  }
  h2 {
    text-align: center;
    font-size: 35px;
    margin: 2vh 4vh 3vh;
  }
  #about {
    margin-top: 3vh;
  }
  #about #aboutMeContent {
    text-align: center;
    font-size: 16px;
  }
  table {
    font-size: small;
  }
  header {
    display: flex;
    align-items: center;
    padding: 3vh;
  }
  header .username {
    position: absolute;
    left: 37%;
    z-index: 1003;
  }
  header .username img {
    width: 60%;
    transform: translateX(-15%);
  }
  #mainContent {
    margin: 14px;
    background-color: unset;
    width: unset;
  }
  #frontBannerBox {
    flex-direction: column;
    gap: unset;
    top: unset;
  }
  /* burger menu */
  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 1002;
  }
  .line {
    width: 40px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transform-origin: center;
  }
  .line:nth-child(1) {
    top: 0px;
  }
  .line:nth-child(2) {
    top: 13px;
    opacity: 1;
  }
  .line:nth-child(3) {
    bottom: 0px;
  }
  /* State of the lines when the menu is open */
  .burger-menu.open .line:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .burger-menu.open .line:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.open .line:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
  /* nav-menu for mobile view */
  .nav-menu {
    display: none; /* Hide the mobile menu by default */
    background-color: black;
    position: absolute !important;
    top: 0 !important;
    left: -1vh !important;
    width: 21vh; /* Adjust the width of the menu as needed */
    height: 100vh;
    padding-top: 30px !important; /* Adjust the padding to avoid overlapping with the header */
    padding-left: 0 !important;
  }
  .nav-menu ul {
    display: inline-block;
    list-style: none;
    margin-top: 50px;
    transform: translateX(0.5vh);
  }
  .nav-menu ul li {
    margin-bottom: 15px;
    display: block;
  }
  .nav-menu ul li a {
    display: inline-block;
    padding: 10px 7.5vh 0px 7px !important;
    color: white;
    font-size: medium !important;
    border: none; /* No border */
  }
  .nav-menu ul li a::before, .nav-menu ul li a::after {
    background-color: unset !important;
  }
  .showNavMenu {
    display: flex !important;
    flex-wrap: wrap;
    width: 180px;
    height: 59rem;
  }
  .social-links {
    display: none;
  }
  .social-links li {
    padding: 8px 20px 9px 9px;
  }
  .showSocialLinks {
    display: flex;
    flex-wrap: wrap;
    width: 170px;
    position: fixed;
    top: 67vh;
    left: 0;
  }
  .profile-picture__header {
    display: block !important;
  }
  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh !important;
  }
  .services-container .services-item {
    width: 100% !important;
    margin-bottom: 20px !important;
    text-align: center;
  }
  .codingStuff h3 {
    text-align: center;
  }
}
/* Decorations for Mobile Version */
@media only screen and (max-width: 800px) and (prefers-color-scheme: dark) {
  /* Styles for typical tablets and mobiles screens */
  .nav-menu {
    padding-left: 4.3px !important;
    padding-top: 50px !important;
  }
  .nav-menu ul {
    margin-top: 30px !important;
    transform: translateX(0);
  }
  .social-links {
    display: none; /* Hide the social links by default */
  }
  .social-links li {
    padding: 8px 20px 9px 9px;
  }
  .username img {
    width: 75% !important;
    transform: translateX(-20%) !important;
  }
  .showSocialLinks {
    position: fixed;
    top: 67vh; /* Adjust if necessary */
    left: 0.25vh;
  }
  .bothArrowButtons {
    display: none !important;
  }
  #blogPage {
    overflow-x: hidden;
  }
  .blogPageContent {
    text-align: center;
  }
  .blogPageContent img {
    width: 100% !important;
    margin: unset !important;
  }
  #blogText {
    font-size: 80px;
  }
  .blogBanner {
    padding: 10px 40px 9px 18px;
  }
  .projects-container {
    margin: unset !important;
    display: flex;
    flex-direction: column;
  }
  .projects-container .projects-item {
    width: 100% !important;
  }
  #vennDiagramHead, #videoGamesHeading {
    text-align: center;
    font-size: 25px;
  }
  .vennDiagramImgs, #vennDiagramImg1, video-games-content img {
    width: 100%;
  }
  #intersections {
    clear: left;
  }
  #video-games-content img {
    width: 100%;
    float: unset;
  }
  #csSourceMobileHeading {
    display: block;
  }
  #csSourceDesktopHeading {
    display: none;
  }
  .projects-items, .blogItems {
    text-align: center;
    align-items: center;
    margin: unset !important;
    flex-direction: column;
  }
  .blogTextContainer {
    padding: unset !important;
    margin-bottom: 5vh;
  }
  .blogTextContainer .blogPostDate {
    top: 14px !important;
  }
  .project-items {
    margin-bottom: 20px;
  }
  .projects-items img, .blogItems img {
    max-width: 100%;
    height: unset; /* Maintain the aspect ratio of the image */
  }
  .projects-items img {
    margin-bottom: 10px; /* Add some space between the image and the text */
  }
  .projects-items-text {
    font-size: 18px;
    margin-bottom: 40px;
    width: unset;
  }
  .blogItemsHeading {
    margin: 1vh 0;
  }
  .blogItemsTags {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
    padding-top: 10px;
  }
  .blogItemsTags .first-tag, .blogItemsTags .otherTags {
    line-height: 20px;
  }
  .blogItemsText {
    font-size: 18px !important;
    line-height: 3vh !important;
    margin: 0.5vh 0;
  }
  .mini-projects-items {
    display: flex;
    flex-direction: column;
  }
  .mini-projects-items .mini-projects-item .mini-projects-item__text {
    padding: 2vh;
  }
  .mini-projects-items .mini-projects-item .mini-projects-item__text p {
    width: 100% !important;
  }
  .mini-projects-items .mini-projects-item img {
    height: unset !important;
    margin-top: 2vh;
    max-width: 100%;
  }
  .contactContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contactContainer .formGroups {
    flex-direction: column;
  }
  #platformsList img {
    width: 80px !important;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 550px) and (prefers-color-scheme: dark) {
  /* Styles for typical tablets and mobiles screens */
  #home {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #aboutMeContent img {
    width: 50% !important;
  }
}
/* Website Background */
.animatedBack {
  position: relative;
  width: 100%;
  height: 55vh;
  background: #1e1f2f;
  overflow: hidden;
  z-index: 1;
}

.animatedBack span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.animatedBack span:nth-child(0) {
  color: #583c87;
  top: 40%;
  left: 76%;
  animation-duration: 18s;
  animation-delay: -25s;
  transform-origin: 11vw -21vh;
  box-shadow: 40vmin 0 5.8812448088vmin currentColor;
}

.animatedBack span:nth-child(1) {
  color: #e45a84;
  top: 95%;
  left: 47%;
  animation-duration: 21s;
  animation-delay: -34s;
  transform-origin: 13vw 19vh;
  box-shadow: 40vmin 0 5.5013107815vmin currentColor;
}

.animatedBack span:nth-child(2) {
  color: #ffacac;
  top: 54%;
  left: 85%;
  animation-duration: 44s;
  animation-delay: -3s;
  transform-origin: -21vw 15vh;
  box-shadow: 40vmin 0 5.4911131437vmin currentColor;
}

.animatedBack span:nth-child(3) {
  color: #e45a84;
  top: 41%;
  left: 18%;
  animation-duration: 42s;
  animation-delay: -42s;
  transform-origin: -14vw -18vh;
  box-shadow: -40vmin 0 5.6439356436vmin currentColor;
}

.animatedBack span:nth-child(4) {
  color: #583c87;
  top: 89%;
  left: 15%;
  animation-duration: 9s;
  animation-delay: -39s;
  transform-origin: 4vw 12vh;
  box-shadow: 40vmin 0 5.3633133714vmin currentColor;
}

.animatedBack span:nth-child(5) {
  color: #ffacac;
  top: 69%;
  left: 52%;
  animation-duration: 29s;
  animation-delay: -42s;
  transform-origin: 12vw 25vh;
  box-shadow: -40vmin 0 5.5230712593vmin currentColor;
}

.animatedBack span:nth-child(6) {
  color: #e45a84;
  top: 52%;
  left: 35%;
  animation-duration: 12s;
  animation-delay: -35s;
  transform-origin: -2vw 12vh;
  box-shadow: -40vmin 0 5.5989799879vmin currentColor;
}

.animatedBack span:nth-child(7) {
  color: #e45a84;
  top: 9%;
  left: 51%;
  animation-duration: 54s;
  animation-delay: -44s;
  transform-origin: -6vw 18vh;
  box-shadow: 40vmin 0 5.5751718371vmin currentColor;
}

.animatedBack span:nth-child(8) {
  color: #ffacac;
  top: 30%;
  left: 94%;
  animation-duration: 37s;
  animation-delay: -3s;
  transform-origin: 16vw 13vh;
  box-shadow: 40vmin 0 5.9557063454vmin currentColor;
}

.animatedBack span:nth-child(9) {
  color: #e45a84;
  top: 99%;
  left: 30%;
  animation-duration: 9s;
  animation-delay: -34s;
  transform-origin: 15vw 8vh;
  box-shadow: -40vmin 0 5.8956053879vmin currentColor;
}

.animatedBack span:nth-child(10) {
  color: #e45a84;
  top: 9%;
  left: 72%;
  animation-duration: 13s;
  animation-delay: -38s;
  transform-origin: 9vw 10vh;
  box-shadow: -40vmin 0 5.230110422vmin currentColor;
}

.animatedBack span:nth-child(11) {
  color: #583c87;
  top: 40%;
  left: 80%;
  animation-duration: 12s;
  animation-delay: -12s;
  transform-origin: 16vw -20vh;
  box-shadow: -40vmin 0 5.843387963vmin currentColor;
}

.animatedBack span:nth-child(12) {
  color: #583c87;
  top: 66%;
  left: 23%;
  animation-duration: 33s;
  animation-delay: -9s;
  transform-origin: 7vw -16vh;
  box-shadow: -40vmin 0 5.606964002vmin currentColor;
}

.animatedBack span:nth-child(13) {
  color: #e45a84;
  top: 60%;
  left: 40%;
  animation-duration: 45s;
  animation-delay: -33s;
  transform-origin: 6vw -15vh;
  box-shadow: -40vmin 0 5.8280618762vmin currentColor;
}

.animatedBack span:nth-child(14) {
  color: #ffacac;
  top: 75%;
  left: 86%;
  animation-duration: 45s;
  animation-delay: -41s;
  transform-origin: 11vw -20vh;
  box-shadow: 40vmin 0 5.6155703343vmin currentColor;
}

.animatedBack span:nth-child(15) {
  color: #ffacac;
  top: 19%;
  left: 23%;
  animation-duration: 47s;
  animation-delay: -14s;
  transform-origin: 4vw 0vh;
  box-shadow: 40vmin 0 5.8588198677vmin currentColor;
}

.animatedBack span:nth-child(16) {
  color: #583c87;
  top: 2%;
  left: 43%;
  animation-duration: 26s;
  animation-delay: -19s;
  transform-origin: 18vw 10vh;
  box-shadow: 40vmin 0 5.6408283505vmin currentColor;
}

.animatedBack span:nth-child(17) {
  color: #ffacac;
  top: 100%;
  left: 1%;
  animation-duration: 7s;
  animation-delay: -1s;
  transform-origin: -24vw -22vh;
  box-shadow: 40vmin 0 5.0924420473vmin currentColor;
}

.animatedBack span:nth-child(18) {
  color: #583c87;
  top: 7%;
  left: 51%;
  animation-duration: 9s;
  animation-delay: -29s;
  transform-origin: -9vw 1vh;
  box-shadow: -40vmin 0 5.6937119222vmin currentColor;
}

.animatedBack span:nth-child(19) {
  color: #ffacac;
  top: 48%;
  left: 71%;
  animation-duration: 26s;
  animation-delay: -12s;
  transform-origin: 17vw 24vh;
  box-shadow: -40vmin 0 5.8100448718vmin currentColor;
}

#otherHeaders {
  padding: 0.9vh 3.5vh;
}
#otherHeaders .username {
  left: 0;
}
#otherHeaders #goBackButton {
  position: relative;
  right: 0;
  background-color: white;
  text-align: center;
  width: 12rem;
  height: 2rem;
  position: relative;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
#otherHeaders #goBackButton .goBackButton__icon {
  background-color: var(--light-lemon-yellow);
  height: 1.25rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  z-index: 10;
  transition: width 0.5s;
}
#otherHeaders #goBackButton:hover .goBackButton__icon {
  width: 11.2rem;
}
#otherHeaders #goBackButton .goBackButton__text {
  transform: translateX(1rem);
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

#otherMains article {
  display: flex;
  justify-content: space-evenly;
}
#otherMains aside .blogSidebarContent img {
  width: 25%;
}
#otherMains #blogPageHeader {
  background-image: url(../images/blog-content/venn-diagram-blog/_6c893c80-55af-4779-8d7b-524981387ca4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-color: #f4f4f4;
  position: relative;
  width: 100%;
  height: 55vh;
}
#otherMains #blogPageHeader .blogPageHeader__div {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3vh;
}
#otherMains #blogPageHeader .blogPageHeader__div h2 {
  background-color: black;
}
#otherMains #blogPageHeader .blogPageHeader__div .blogPageHeader__divDown {
  display: flex;
  align-items: center;
  gap: 1vh;
}
#otherMains #blogPageHeader .blogPageHeader__div .blogPageHeader__divDown .blogPageHeader__myImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#otherMains #blogPageContent img {
  width: 50%;
}/*# sourceMappingURL=style.css.map */