footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    padding: 2vh;
    background-color: black;
    color: white;
    z-index: 15000;

    div {
        padding-top: 5vh;
    }
}
