footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15vh 2vh 2vh;
    background-color: black;
    color: white;
    z-index: 1500;

    div {
        padding-top: 5vh;
    }
}
