header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    position: sticky;
    top: 0;
    z-index: 2500;

    .username {
        text-decoration: none;
        color: white;
        font-size: 24px;
        position: absolute;
        left: 4vh;
        transform: skewX(15deg);
        font-family: "Techno Race Italic";
    }

    /* Navigation Menu Decoration */
    .nav-menu {
        position: absolute;
        left: 27vh;

        ul {

            li {
                display: inline-block;

                a {
                    position: relative;
                    color: white;
                    text-decoration: none;
                    padding: 23px;
                    font-size: large;
                    
                    &:hover {
                        color: #544F92;
                        transition: transform 0.3s ease-in-out;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        /* Text-in altından hərəkət etmək üçün */
                        left: 50%;
                        /* Mərkəzdən başlamaq üçün */
                        width: 0;
                        height: 1px;
                        /* Xətt uzunluğu */
                        background-color: white;
                        /* Xətt rəngi */
                        transition: width 0.3s ease, left 0.3s ease;
                        /* Animasiya üçün */
                        transform: translateX(-15%);
                        /* Mərkəzi düzəltmək üçün */
                    }

                    &:hover::before {
                        width: 100%;
                        /* Hover edildiyi zaman xəttin genişliyi 100% olacaq */
                        left: 0;
                        /* Mərkəzə doğru */
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        /* Text-in altından hərəkət etmək üçün */
                        right: 50%;
                        /* Mərkəzdən başlamaq üçün */
                        width: 0;
                        height: 1px;
                        /* Xətt uzunluğu */
                        background-color: white;
                        /* Xətt rəngi */
                        transition: width 0.3s ease, right 0.3s ease;
                        /* Animasiya üçün */
                        transform: translateX(15%);
                        /* Mərkəzi düzəltmək üçün */
                    }

                    &:hover::after {
                        width: 100%;
                        /* Hover edildiyi zaman xəttin genişliyi 100% olacaq */
                        right: 0;
                        /* Mərkəzə doğru */
                    }
                }
            }
        }
    }

    .social-links {
        display: flex;
        gap: 1vh;
        list-style: none;
        margin-right: 5vh;

        li {
            background-color: #544F92;

            a {
                text-decoration: none;

                img {
                    padding: 5px 5px 3px;
                    width: 35px;
                    height: 25px;
                    transition: transform 0.3s ease-in-out;
                    /* Adds a smooth transition effect */

                    &:hover {
                        transform: scale(1.2);
                        /* Scales the icon up when hovered over */
                    }
                }
            }
        }
    }
}