@media only screen and (max-width: 1252px) and (prefers-color-scheme: dark) {

    #about {
        flex-direction: column;
        height: unset;
    }

    #aboutMeContent {
        flex-direction: column;
        width: 100%;

        img {
            max-width: 100%;
            margin: 2vh 0;
        }
    }
}

@media only screen and (max-width: 1120px) and (prefers-color-scheme: dark) {
    
    #homeText {

        top: 30% !important;

        h1 {
            font-size: 60px !important;
        }

        p {
            font-size: 24px !important;
        }
    }
    
    h2 {
        text-align: center;
        font-size: 35px;
        margin: 2vh 4vh 3vh;
    }

    #about {
        margin-top: 3vh;

        #aboutMeContent {
            text-align: center;
            font-size: 16px;
        }

    }

    table {
        font-size: small;
    }

    #previousHeader {
        display: flex;
        align-items: center;
        padding: 3vh;

        .username {
            position: absolute;
            left: 37%;
            z-index: 1003;

            img {
                width: 60%;
                transform: translateX(-15%);
            }
        }
    }

    #mainContent {
        margin: 14px;
        background-color: unset;
        width: unset;
    }

    #frontBannerBox {
        flex-direction: column;
        gap: unset;
        top: unset;
    }

    /* burger menu */
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0;
        position: relative;
        z-index: 1002;
    }

    .line {
        width: 40px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        transform-origin: center;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 13px;
            opacity: 1;
        }

        &:nth-child(3) {
            bottom: 0px;
        }
    }

    /* State of the lines when the menu is open */
    .burger-menu.open .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .burger-menu.open .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .line:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    /* nav-menu for mobile view */
    .nav-menu {
        display: none; /* Hide the mobile menu by default */
        background-color: black;
        position: absolute !important;
        top: 0 !important;
        left: -1vh !important;
        width: 21vh; /* Adjust the width of the menu as needed */
        height: 100vh;
        padding-top: 30px !important; /* Adjust the padding to avoid overlapping with the header */
        padding-left: 0 !important;

        ul {
            display: inline-block;
            list-style: none;
            margin-top: 50px;
            transform: translateX(0.5vh);

            li {
                margin-bottom: 15px;
                display: block;
                
                a {
                    display: inline-block;
                    padding: 10px 7.5vh 0px 7px !important;
                    color: white;
                    font-size: medium !important;
                    border: none; /* No border */

                    &::before, &::after {
                        background-color: unset !important;
                    }
                }
            }
        }
    }

    .showNavMenu {
        display: flex !important;
        flex-wrap: wrap;
        width: 180px;
        height: 59rem;
    }

    .social-links {
        display: none;
         
        li {
            padding: 8px 20px 9px 9px;
        }
    }

    .showSocialLinks {
        display: flex;
        flex-wrap: wrap;
        width: 170px;
        position: fixed;
        top: 67vh;
        left: 0;
    }

    .profile-picture__header {
        display: block !important;
    }

    .services-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh !important;

        .services-item {
            width: 100% !important;
            margin-bottom: 20px !important;
            text-align: center;

        }
    }

    .codingStuff h3 {
        text-align: center;
    }
}


/* Decorations for Mobile Version */

@media only screen and (max-width: 800px) and (prefers-color-scheme: dark) {
    /* Styles for typical tablets and mobiles screens */

    .nav-menu {
        padding-left: 4.3px !important;
        padding-top: 50px !important;
        
            ul {
                margin-top: 30px !important;
                transform: translateX(0);
            }
    }

    .social-links {
        display: none; /* Hide the social links by default */
 
        li {
            padding: 8px 20px 9px 9px;
        }
    }

    .username {

        img {
            width: 75% !important;
            transform: translateX(-20%) !important;
        }
    }

    .showSocialLinks {
        position: fixed;
        top: 67vh; /* Adjust if necessary */
        left: 0.25vh;
    }
    
    .bothArrowButtons {
        display: none !important;
    }

    #blogPage {
        overflow-x: hidden;
    }

    .blogPageContent {
        text-align: center;
        
        img {
            width: 100% !important;
            margin: unset !important;
        }
    }

    #blogText {
        font-size: 80px;
    }

    .blogBanner {
        padding: 10px 40px 9px 18px;
    }

    .projects-container {
        margin: unset !important;
        display: flex;
        flex-direction: column;

        .projects-item {
            width: 100% !important;
        }
    }

    #vennDiagramHead, #videoGamesHeading {
        text-align: center;
        font-size: 25px;
    }

    .vennDiagramImgs, #vennDiagramImg1, video-games-content img {
        width: 100%;
    }

    #intersections {
        clear: left;
    }

    #video-games-content img {
        width: 100%;
        float: unset;
    }

    #csSourceMobileHeading {
        display: block;
    }

    #csSourceDesktopHeading {
        display: none;
    }

    .projects-items, .blogItems {
        text-align: center;
        align-items: center;
        margin: unset !important;
        flex-direction: column;
    }

    .blogTextContainer {
        padding: unset !important;
        margin-bottom: 5vh;

        .blogPostDate {
            top: 14px !important;
        }
    }

    .project-items {
        margin-bottom: 20px;
    }

    .projects-items img, .blogItems img {
        max-width: 100%;
        height: unset; /* Maintain the aspect ratio of the image */
    }

    .projects-items img {
        margin-bottom: 10px; /* Add some space between the image and the text */
    }

    .projects-items-text {
        font-size: 18px;
        margin-bottom: 40px;
        width: unset;
    }

    .blogItemsHeading {
        margin: 1vh 0;
    }

    .blogItemsTags {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 7px;
        padding-top: 10px;

        .first-tag, .otherTags {
            line-height: 20px;
        }
    }

    .blogItemsText {
        font-size: 18px !important;
        line-height: 3vh !important;
        margin: 0.5vh 0;

    }

    .mini-projects-items {
        display: flex;
        flex-direction: column;

        .mini-projects-item {
            
            .mini-projects-item__text {
                padding: 2vh;
                
                p {
                    width: 100% !important;
                }
            }

            img {
                height: unset !important;
                margin-top: 2vh;
                max-width: 100%;
            }
        }
    }

    .contactContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .formGroups {
            flex-direction: column;
        }
    }

    #platformsList img {
        width: 80px !important;
    }

    #previousFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media only screen and (max-width: 550px) and (prefers-color-scheme: dark) {
    /* Styles for typical tablets and mobiles screens */

    #home {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #aboutMeContent {

        img {
            width: 50% !important;
        }
    }
}