.otherTagsMobile {
    display: none;
}

@media only screen and (max-width: 1252px) and (prefers-color-scheme: dark) {

    #aboutMe {
        flex-direction: column;
        height: unset;
    }

    #aboutMeContent {
        flex-direction: column;
        width: 100%;
        height: unset;
    }
}

/* Decorations for Mobile Version */

@media only screen and (max-width: 800px) and (prefers-color-scheme: dark) {
    /* Styles for typical tablets and mobiles screens */

    #home {

        h1 {
            font-size: 60px !important;
        }

        p {
            font-size: 24px !important;
        }
    }

    .marqueeEffect li {
        width: unset;
    }

    h2 {
        text-align: center;
        font-size: 55px;
    }

    h3 {
        font-size: 22px;
    }

    #aboutMeContent {
        text-align: center;
        font-size: 16px;
    }

    #aboutMe img {
        margin: 2vh auto;
    }

    table {
        font-size: small;
    }

    .mini-projects-item img {
        height: unset !important;
        margin-top: 2vh;
    }

    header {
        display: flex;
        align-items: center;
        padding: 3vh;

        .username {
            position: absolute;
            left: 37%;
            transform: skewX(15deg);
            z-index: 1003;
        }
    }

    #mainContent {
        margin: 14px;
        background-color: unset;
        width: unset;
    }

    #frontBannerBox {
        flex-direction: column;
        gap: unset;
        top: unset;
    }

    /* burger menu */
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 0;
        position: relative;
        z-index: 1002;
    }

    .line {
        width: 40px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: .3s cubic-bezier(.8, .5, .2, 1.4);
        transform-origin: center;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2) {
            top: 13px;
            opacity: 1;
        }

        &:nth-child(3) {
            bottom: 0px;
        }
    }

    /* State of the lines when the menu is open */
    .burger-menu.open .line:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }

    .burger-menu.open .line:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open .line:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
    }

    /* nav-menu for mobile view */
    .nav-menu {
        display: none; /* Hide the mobile menu by default */
        background-color: black;
        position: absolute !important;
        top: 5vh !important;
        left: -1vh !important;
        width: 21vh; /* Adjust the width of the menu as needed */
        height: 100vh;
        padding-top: 60px; /* Adjust the padding to avoid overlapping with the header */
        padding-left: 10px;
        z-index: 1000; /* Increase if necessary */

        ul {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin-top: 40px;

            li {
                margin-bottom: 20px;
                display: block;

                a {
                    display: block;
                    padding: 10px 7.5vh 10px 15px;
                    color: white;
                    border: none; /* No border */
                    cursor: pointer; /* Cursor style */
                }
            
            }
        }
    }

    .social-links {
        display: none !important; /* Hide the social links by default */
        position: absolute;
        top: 70vh; /* Adjust if necessary */
        left: 4vh;
        z-index: 1001; /* Increase if necessary */

        li {
            padding: 5px;
        }
    }
    
    .bothArrowButtons {
        display: none !important;
    }

    #blogPage {
        overflow-x: hidden;
    }

    #blogText {
        font-size: 80px;
    }

    .blogBanner {
        padding: 10px 40px 9px 18px;
    }

    .projects-container {

        .projects-items {
            display: flex;
            flex-direction: column;
            gap: 10vh;

            .projects-item {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }

    #vennDiagramHead, #videoGamesHeading {
        text-align: center;
        font-size: 25px;
    }

    .vennDiagramImgs, #vennDiagramImg1, video-games-content img {
        width: 100%;
    }

    #intersections {
        clear: left;
    }

    #video-games-content img {
        width: 100%;
        float: unset;
    }

    #csSourceMobileHeading {
        display: block;
    }

    #csSourceDesktopHeading {
        display: none;
    }

    .projects-items, .blogItems {
        text-align: center;
        align-items: center;
        margin: unset !important;
        flex-direction: column;
    }

    .blogTextContainer {
        padding: unset !important;
        margin-bottom: 5vh;

        .blogItemsHeading {
            margin-top: 2vh;
        }

        .blogPostDate {
            top: 14px !important;
        }
    }

    .project-items {
        margin-bottom: 20px;
    }

    .projects-items img, .blogItems img {
        max-width: 100%;
        height: unset; /* Maintain the aspect ratio of the image */
    }

    .projects-items img {
        margin-bottom: 10px; /* Add some space between the image and the text */
    }

    .projects-items-text {
        font-size: 18px;
        margin-bottom: 40px;
        width: unset;
    }

    .tags {
        width: 100%;
    }

    .otherTagsMBTI {
        display: none;
    }

    .blogItemsText {
        font-size: 18px !important;
        line-height: 5vh !important;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .mini-projects-items {
        display: flex;
        flex-direction: column;

        .mini-projects-item {
            
            img {
                padding: 0 4vh 0 4vh;
            }

            .mini-projects-item__text {
                padding: 2vh;
                
                p {
                    width: 100% !important;
                }
            }
        }
    }

    #skillsAndTools img {
        width: 80px !important;
    }

    #windows11Text {
        margin-left: -38px;
    }

    .show {
        display: flex !important;
        flex-wrap: wrap;
        width: 145px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
