/* First things first */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

:root {
  --royal-blue: #3F52E3;
  --light-gray: #fcfcfc;
  --light-lemon-yellow: #EFE891;
  --red-salsa: #F12D2D;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: "Montserrat";
  color: var(--royal-blue);
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  background-color: black;
}

section {
	padding: 0 14px;
}

.containers-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-transform: uppercase;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

/* Details, Summary Tag Styling */

details > summary {
  list-style-type: none;
}

/* For Chrome, Safari and Edge */
details > summary::-webkit-details-marker {
  display: none;
}

/* For Firefox */
details > summary::marker {
  display: none;
}

/* Marquee Effect */

.marqueeEffect {
  display: flex;
  -webkit-mask-image-: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  overflow: hidden;
  background-color: yellow;
  z-index: 2;
  width: 100%;

  li {
    padding: 2vh;
    flex-shrink: 0;
    animation: marquee 10s infinite linear;
    color: black;
  }

  /* Marquee Animation */

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-25%);
    }

    50% {
      transform: translateX(-50%);
    }

    75% {
      transform: translateX(-75%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

/* Scroll to Top Button */
#topBtn {
  z-index: 10;
  cursor: pointer;
  transition: 0.32s ease-in-out;

  &:hover {
    color: var(--mango-yellow);
  }
}
